body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

